<div class="col-md-12">
    <h2>Types of Home Loans</h2>
    <p>If you thought Home Loans were just available as a standard offering, you’re clearly mistaken.
        <b>Invincible</b> offers different types of Home Loans from banks. It would be wise to take a look at the options available
        to you rather than searching for information without any previous knowledge.</p>
    <h4>Home Purchase Loan</h4>
    <p>This type of loan is a simple home loan that allows you to purchase a new residential property.</p>
    <h4>Home Improvement Loan</h4>
    <p>If you ever wanted to renovate your home with a new aesthetic look or just wanted to structurally enhance and strengthen
        it, this type of home loan is what you’re looking for. It is basically concerned with the costs to renovate or repair
        your existing home.</p>
    <h4>Home Construction Loan</h4>
    <p>This type of loan is taken when the borrower wants to construct a new home on a given plot of land.</p>
    <h4>Home Loan Advantage</h4>
    <p>This type of home loan is linked to a current account thereby reducing your interest outflow depending on your idle balance
        in your bank accounts</p>

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <em>Find the latest interest rates and compare home loans now.</em>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="background: #ededed;" border="0" cellspacing="0" cellpadding="0">
                          
                            <thead>
                                <tr style=" background-color: #01448d;">
                                    <th style="border: 1px solid #ACACAC;  color: #fff;"></th>
                                    <th style="border: 1px solid #ACACAC;  color: #fff; text-align: center;">Product</th>
                                    <th style="border: 1px solid #ACACAC;  color: #fff; text-align: center;">Loan AMT</th>
                                    <th style="border: 1px solid #ACACAC;  color: #fff; text-align: center;">Rate of Intrest</th>
                                    <th style="border: 1px solid #ACACAC; color: #fff; text-align: center;">P.F Salaried</th>
                                    <th style="border: 1px solid #ACACAC;  color: #fff; text-align: center;">PF Self Employed</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">HSBC</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <td style="border: 1px solid #ACACAC; ">1 Cr +</td>
                                    <td style="border: 1px solid #ACACAC; ">10.20 &#8211; 10.50 %</td>
                                    <td style="border: 1px solid #ACACAC; ">10000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.25% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="3">HSBC</th>
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property (Balance Transfer)</td>
                                    <td style="border: 1px solid #ACACAC; ">&gt; 25 Lakh</td>
                                    <td style="border: 1px solid #ACACAC; ">11.75%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">0.25% + ST</td>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">25 &#8211; 50 Lakh</td>
                                    <td style="border: 1px solid #ACACAC; ">11.40%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">0.25% + ST</td>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">50 &#8211; 1.5 Cr</td>
                                    <td style="border: 1px solid #ACACAC; ">11.25%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">0.25% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">SCB</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan (Balance Tranfer)</td>
                                    <td style="border: 1px solid #ACACAC; ">1 Cr +</td>
                                    <td style="border: 1px solid #ACACAC; ">10.25%</td>
                                    <td style="border: 1px solid #ACACAC; ">10000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.25% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.00-12.50%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">CITI</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <td style="border: 1px solid #ACACAC; ">1 Cr +</td>
                                    <td style="border: 1px solid #ACACAC; ">10.25%</td>
                                    <td style="border: 1px solid #ACACAC; ">10000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.25% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <td style="border: 1px solid #ACACAC; padding: 5px;"></td>
                                    <td style="border: 1px solid #ACACAC; ">12.00- 12.50 %</td>
                                    <td style="border: 1px solid #ACACAC; padding: 5px;"></td>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">Axis</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <td style="border: 1px solid #ACACAC; padding: 5px;"></td>
                                    <td style="border: 1px solid #ACACAC; ">10.50%</td>
                                    <td style="border: 1px solid #ACACAC; ">10000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.25% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;">12.50 &#8211; 13.00 %</th>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;">1% + ST</th>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">Deutsche</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <td style="border: 1px solid #ACACAC; ">1 Cr +</td>
                                    <td style="border: 1px solid #ACACAC; ">10.15 &#8211; 10.25%</td>
                                    <td style="border: 1px solid #ACACAC; ">0.1% + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.2% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <td style="border: 1px solid #ACACAC; ">1 Cr +</td>
                                    <td style="border: 1px solid #ACACAC; ">11.50 &#8211; 12.50 %</td>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">Reliance</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">11.25%</td>
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">13.00 &#8211; 13.50%</td>
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="3">IndiaBulls</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <td style="border: 1px solid #ACACAC; ">&gt;25 Lakh</td>
                                    <td style="border: 1px solid #ACACAC; ">10.15%</td>
                                    <td style="border: 1px solid #ACACAC; ">5000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">1 &#8211; 1.15%</td>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">&lt; 25 &#8211; 75 Lakh</td>
                                    <td style="border: 1px solid #ACACAC; ">10.75%</td>
                                    <td style="border: 1px solid #ACACAC; ">5000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">1 &#8211; 1.15%</td>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">&lt; 75 Lakh</td>
                                    <td style="border: 1px solid #ACACAC; ">11%</td>
                                    <td style="border: 1px solid #ACACAC; ">15000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">1 &#8211; 1.15%</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">IndiaBulls</th>
                                    <td style="border: 1px solid #ACACAC; ">LoanAgainst Property</td>
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">13% &#8211; 13.5</td>
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">1 &#8211; 1.15%</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">PNB Housing Finance Ltd. (Fixed) 10 Yrs (SAL)</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <td style="border: 1px solid #ACACAC; ">&gt;50 Lakh</td>
                                    <td style="border: 1px solid #ACACAC; ">10.75%</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">PNB Housing Finance Ltd. (Fixed) 10 Yrs (SAL)</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <th style="border: 1px solid #ACACAC; "></th>
                                    <td style="border: 1px solid #ACACAC; ">11.00%</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">PNB Housing Finance Ltd. (Fixed) 10 Yrs (SE)</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">11.00-11.25%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">PNB Housing Finance Ltd. (Fixed) 10 Yrs (SE)</th>
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">13.25%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">PNB Housing Finance Ltd. (Fixed) 10 Yrs</th>
                                    <td style="border: 1px solid #ACACAC; ">Commercial Purchase</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.75%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">PNB Housing Finance Ltd. (Fixed)</th>
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.50 &#8211; 13.00 %</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">Edelweiss</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">10.50%</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.50 &#8211; 13.00 %</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">Religare</th>
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">13.50%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">DCB</th>
                                    <td style="border: 1px solid #ACACAC; ">LAP/OD</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.50 &#8211; 13.00 %</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">ICICI</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">10.25% &#8211; 10.50%</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">0.5% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.50%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">DHFL</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">10.75%</td>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">1.5 % +ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">13.50%</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1.5 % +ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;">Kotak</th>
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.50 &#8211; 13.00 %</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr style="  background: #ffffff;">
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                    <th style="border-bottom: 1px solid #ACACAC;"></th>
                                </tr>
                                <tr >
                                    <th style="border: 1px solid #ACACAC;  text-align: center; vertical-align: middle;" rowspan="2">HDFC</th>
                                    <td style="border: 1px solid #ACACAC; ">Home Loan</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">
                                        <span style="font-family: 'Bookman Old Style'; font-size: small;">8.65</span>%</td>
                                    <td style="border: 1px solid #ACACAC; ">10000 + ST</td>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                                <tr >
                                    <td style="border: 1px solid #ACACAC; ">Loan Against Property</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">12.50 &#8211; 13.00 %</td>
                                    <th style="border: 1px solid #ACACAC; padding: 5px;"></th>
                                    <td style="border: 1px solid #ACACAC; ">1% + ST</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>




                </div>
            </div>
        </div>

    </div>



</div>