
<div style="margin-left: 30px">
<h3>Home Loan Banks, Service Providers and Companies</h3>
<p>For offering home loans, Andromeda has tied up with 35+ partners which include banks, service providers and companies.</p>
<p><strong>HDFC Bank</strong><br />
HDFC Bank Limited is an Indian financial services company based in Mumbai, Maharashtra that was incorporated in August 1994. HDFC Bank is the fifth largest bank in India by assets and the largest bank by market capitalization as of 1 November 2012.</p>
<p><strong>ICICI Bank</strong><br />
ICICI Bank Limited is a multinational financial services company headquartered in Mumbai, India. It is the second largest bank in India by assets and third largest by market capitalization.</p>
<p><strong>AXIS Bank</strong><br />
Axis Bank Limited is an Indian financial services corporation headquartered in Mumbai, Maharashtra. It had begun operations in 1994, after the Government of India allowed new private banks to be established.<br />
<strong><br />
IDBI Bank</strong><br />
IDBI Bank Limited is an Indian financial service company headquartered Mumbai, India. RBI categorized IDBI as an “other public sector bank”.<br />
<strong><br />
Kotak Mahindra Bank</strong><br />
Kotak Mahindra Bank is an Indian financial service firm established in 1985. It was previously known as Kotak Mahindra Finance Limited, a non-banking financial company.</p>
</div>